body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* Index styles */

#header_nav {
    margin: 0px;
    background-color: #202421;
    overflow: hidden;
    width: 100%;
}

#header_nav a {
    float: left;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    width: 125px;
}

#header_nav a:hover {
    background-color: #28c978;
    color: #202421;
}


.form_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* Login styles */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 5px solid black;
    width: 25vw;
    height: 40vh;
    overflow: hidden;
    padding: 10px;
}

.form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    width: 100%;
}

.form input {
    width: 49%;
    height: 40%;
    margin: 10px;
    margin-top: 0px;
}

.form button {
    overflow: hidden;
    width: 50%;
    height: 40%;
    background-color: #28c978;
    font-size: 18px;
    font-weight: bold;
}

.form button:hover {
    background-color: #00ff80;
}

label {
    font-size: 20px;
}


/* Chat styles */ 

#server_div {
    margin: 10px;
}

#server_members_div {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border: 2px solid black;
}

#chatbox_div {
    height: 500px;
    width: 1000px;
    overflow: auto;
    border-style: solid;
    border-color: black;
    padding: 10px 0px;
    margin: 10px;
    background-color: #3a413b;
}

#chatbox_div p {
    margin: 10px 2px;
    color: white;
    font-size: 15pt;
}

#message_div {
    margin: 10px;
}

#content {
    height: 50px;
    width: 965px;
}

#send_button {
    height: 50px;
    width: 50px;
}


#error_text {
    color: red;
    font-size: 18pt;
}